@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/********************** variables **********************/
:root {

  /* color variables */
  --off-white: #F8FDFE;
  --grey-light: #E3E3E4;
  --accent: #8CE8D3;
  --accent-hover: #26BC98;
  --off-black: #242F3C;

  /* font variables */

  --ff-fancy: "azonixregular", Arial, sans-serif;
  --ff-main: "Plus Jakarta Sans", sans-serif;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 700;
}

/********************** styles **********************/

html {
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/********************** typography **********************/
/* type sizes using golden ratio */

h1 {
  font-family: var(--ff-fancy);
  font-size: 11.089rem;
  text-align: center;

}

h2 {
  font-size: 6.854rem;
}

h3 {
  font-size: 4.236rem;
}

h4 {
  font-size: 2.618rem;
}

p {
  font-size: 1rem;
}

/********************** animations **********************/

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

 /* ----------------------------------------
 * animation focus-in-contract
 * ---------------------------------------- */

 @-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

 /* ----------------------------------------
 * animation scale-in-center
 * ---------------------------------------- */

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/* delayed by 2 seconds */

.scale-in-center-d2 {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

/* delayed by 3 seconds */

.scale-in-center-d3 {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

/* delayed by 4 seconds */

.scale-in-center-d4 {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4s both;
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}







/********************** sections **********************/

.section-title {
  padding: 3rem 10rem;
}

.section-subtitle {
  width: 40%;
  padding: 3rem 20rem;
  text-align: left;
  margin-left: 0 !important;
}

/********************** buttons **********************/

.button {
  padding: 1.5rem;
  margin: 2rem 0;
  font-size: 1.618rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: var(--accent);
  color: var(--off-black);
  border-radius: 99px;
}

.button:hover,
.button:active {
  background-color: var(--accent-hover);
  cursor: pointer;
}




/********************** images **********************/

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

.image-container:hover {
  transform: scale(1.2);
  border-radius: 8px;
  transition: all 200ms ease-out;
}

.image-container:not(:hover) {
  transition: all 200ms ease-in;
}

/********************** nav bar **********************/

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--light-peach);
  z-index: 1;
  transition: top 0.3s;

}

header .content {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: white;
}

header .logo {
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 0 2rem;
  background-color: black;
  color: white;
}

header nav ul {
  display: flex;
  height: 3rem;
  padding: 0 2rem;
}

nav li {
  padding: 0 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:hover {
  background-color: black;
  color: white;
}

nav a {
  font-size: 1rem;
  color: var(--dark-brown);
}

header a:active,
header a:hover {
  color: white;
  background-color: black;
}

/********************** hero **********************/ 

.banner {
  width: 100vw;
  position: relative;
  top: 3rem;
  background-image:
    linear-gradient(to left, rgba(136, 173, 215, 0), rgba(74, 74, 74, 0.9)),
    url('../images/Hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






/* hero Section */

#sign-up-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95vh;
}

#sign-up-cta {
  padding: 0 5rem 2.5rem 5rem;
  border-radius: 8px;
  background-color: var(--olive-green);
  opacity: 85%;
  -webkit-box-shadow: 0px 4px 24px 0px rgba(40, 39, 39, 1);
  -moz-box-shadow: 0px 4px 24px 0px rgba(40, 39, 39, 1);
  box-shadow: 0px 4px 24px 0px rgba(40, 39, 39, 1);
  margin: auto;
}

#sign-up-cta:hover {
  opacity: 100%;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

strong {
  font-weight: var(--fw-bold);
}

.accent {
  letter-spacing: 3px;
  font-size: 1rem;
  text-align: center;
}

.striking {
  font-family: "azonixregular", Arial, sans-serif;
  padding-bottom: .75rem;
  text-align: center;
}



/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-peach);
}

.feature {
  flex-shrink: 1;
  width: 50%;
}

.feature .image-container {
  flex-shrink: 1;
  align-items: center;
  justify-content: center;

}

.feature .image-container img {
  width: 100%;
}

.feature .content {
  padding: 3rem;
  text-align: center;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--dark-brown);
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--dark-brown)
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/* Filters Section */

#filters-section {
  background-color: var(--dark-brown);
}

#filters-section .content {
  padding: 4rem;
  text-align: center;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  margin-top: 1rem;
}

#filters-section .images-container {
  display: flex;
}

#filters-section .images-container img {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes Section */

/* section container */
#quotes-section {
  width: 40vw;
  margin: 5rem auto !important;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 2rem;
  margin: auto;
  align-items: center;
  justify-items: center;
}

#quotation-background {
  position: absolute;
  z-index: -1;
  height: 20%;
  opacity: 0.9;
  transform: translate(90px, 90px);
}

/* text element */
blockquote {
  font-family: "Palatino", serif;
  font-size: 1.5rem;
  line-height: 1.1;
  font-style: italic;
  color: var(--dark-brown);
  text-align: center;
}

/* quotation mark */
#quotation-icon {
  max-height: 4rem;
  align-self: start;
  justify-self: end;
}

/* logo */
#photo-society-logo {
  align-self: end;
  justify-self: end;
}

/*
@media only screen and (max-width: 760px) {
  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section .quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}
*/

/* FAQ section */

#FAQ {
  height: 70vh;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordionTitle {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 50%;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  display: block;
  margin: auto;
}

.accordionTitle:hover {
  background-color:rgba(74, 74, 74, 0.9);
  color: white;
}

.accordionContent {
  font-family: inherit;
  padding: 0 1.5rem;
  background-color: white;
  transition: max-height 0.2s ease-out;
  width: 50%;
  margin: auto;
}

.accordionContent p {
  padding: 2rem;
  line-height: 1.5rem;
}

.accordionTitle + .accordionContent {
	display: none;
}

.accordionTitle.is-open + .accordionContent {
	display: block;
}

/* about us section */

#about {
  width: 100vw;
  background-image:
    linear-gradient(to bottom, rgba(136, 173, 215, 0), rgba(74, 74, 74, 0.9)),
    url('../images/pexels-alex-andrews-1203803.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@media screen and (min-width: 430px) {
  #about {
    padding: 4rem 0;
  }
}


#about h3 {

  margin: 2rem auto 3.5rem auto;
}

/* flex container */
.team-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}


@media screen and (min-width: 430px) {
  .team-cards {
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }
}

.person-card {
  background-color: rgba(151, 151, 151, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 3rem;
  height: 470px;
  width: 30%;
}

.person-card img {
  border-radius: 50%;
  width: 60%;
  max-width: 250px;
  height: auto;
  margin: auto;
}

.person-name {
  color: white;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
}

.person-card p {
  margin-top: 2rem;
  text-align: center;
}

.person-card h3 {
  text-align: left;
}





/* ipad!!! 

@media screen and (min-width: 430px) {
  .person-card {
    padding: 2rem;
    width: 30%;
  }
}

#about .team-cards .person-card h3 {
  text-align: left;
  margin-top: 1.5rem;
  font-size: 1rem;
}

p {
  margin-top: 2rem;
} */

/* Footer */

footer {
  background-color: var(--darkest-brown);
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
  padding-bottom: 1rem;
}

footer .copyright {
  flex-grow: 1;
}

footer p {
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: white;
}

footer a:hover,
footer a:active {
  color: var(--lightest-brown);
}

#GitHub-logo {
  height: 1rem;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}